
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<h3>Django Google API Course - User Profile</h3>

<div class="container">
  {% if request.user.userprofile.has_profile %}
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Address</td>
        <td>
          <address>
            {{request.user.userprofile.address}}<br>
            {{request.user.userprofile.town}}<br>
            {{request.user.userprofile.county}}<br>
            {{request.user.userprofile.post_code}}<br>
          </address>
        </td>      
      </tr>
    </tbody>
  </table>
  </br>
  <label for="id-google-address">Change Address</label>
  {% else %}
  <label for="id-google-address">Add Address</label>
  {% endif %}

  <input type="text" placeholder="*Begin typing address" id="id-google-address" name="google_address">

  <form id="profileform" method="POST" action="/profile">
    {% csrf_token %}

    <!-- <label for="name" class="hidden-el" hidden>Name</label>
   {{form.name}} -->
   <label for="address" class="hidden-el" hidden>Address</label>
   {{form.address}}

   <label for="town" class="hidden-el" hidden>Town/District</label>
   {{form.town}}

   <label for="county" class="hidden-el" hidden>City</label>
   {{form.county}}

   <label for="post_code" class="hidden-el" hidden>Postal Code</label>
   {{form.post_code}}

   <label for="country" class="hidden-el" hidden>Country</label>
   {{form.country}}

   <label for="post_code" class="hidden-el" hidden>Longitude</label>
   {{form.longitude}}

   <label for="country"  class="hidden-el" hidden>Latitude</label>
   {{form.latitude}}


   <button disabled type="submit" id="profile-btn">Update</button>
 </form>

</div>

{% endblock %}
<!--visit https://code.jquery.com/ for jquery script-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- https://cdnjs.com/libraries/toastr.js/latest -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% block extend_footer %}


<script type="text/javascript">

  var google_api_key = "{{google_api_key|safe}}";
  var base_country = "{{base_country|safe}}";


  $.getScript( "https://maps.googleapis.com/maps/api/js?key=" + google_api_key + "&libraries=places") 
.done(function( script, textStatus ) {
    google.maps.event.addDomListener(window, "load", initAutoComplete)
})

let autocomplete;

function initAutoComplete(){
   var address = document.getElementById('id-google-address');
   var options = {
    types: ['geocode', 'establishment'], 
    componentRestrictions: {country: [base_country.toLowerCase()]},
   };
   autocomplete = new google.maps.places.Autocomplete(address, options);

   autocomplete.addListener('place_changed', onPlaceChanged);
   // console.log('text');
}

function onPlaceChanged (){

    var place = autocomplete.getPlace();

    var geocoder = new google.maps.Geocoder()
    var address = document.getElementById('id-google-address').value

    geocoder.geocode( { 'address': address}, function(results, status) {

        if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();

            $('#id_longitude').val(longitude) 
            $('#id_latitude').val(latitude) 
        } 
    }); 

    // if (!place.geometry){
    //     document.getElementById('id-google-address').placeholder = "*Begin typing address";
    // }
    if (!place.geometry || !place.geometry.location) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }
    else{
        $('#id_name').val(place.name)
        console.log(place.name);
        var addy = '';
        for (var i = 0; i < place.address_components.length; i++) {
            for (var j = 0; j < place.address_components[i].types.length; j++) {
                // console.log(place.address_components[i].types[j]);
                // console.log(place.address_components[i]);

                if (place.address_components[i].types[j] == "street_number") {
                    var num = place.address_components[i].long_name  
                }
                if (place.address_components[i].types[j] == "subpremise") {
                    addy = place.address_components[i].long_name
                    addy += ', '  
                }
                if (place.address_components[i].types[j] == "route") {
                    addy += place.address_components[i].long_name
                }
                if (place.address_components[i].types[j] == "administrative_area_level_3") {
                     $('#id_town').val(place.address_components[i].long_name)   
                }                    
                if (place.address_components[i].types[j] == "administrative_area_level_1") {
                    $('#id_county').val(place.address_components[i].long_name)   
                }
                if (place.address_components[i].types[j] == "country") {
                    $('#id_country').val(place.address_components[i].long_name)   
                }

                if (place.address_components[i].types[j] == "postal_code") {
                    $('#id_post_code').val(place.address_components[i].long_name)   
                }
            }
        }
        $('#id_address').val(num + " " + addy) 

        //find all hidden inputs & ignore csrf token
        var x = $( "input:hidden" );
        for (let i = 0; i < x.length; i++){
            if (x[i].name != "csrfmiddlewaretoken")  
            x[i].type = "text"; 
            x.eq(x).attr("class", 'hidden-el')  
        }

        //fade in the completed form
        $('.hidden-el').fadeIn()
        $('#profile-btn').removeAttr("disabled")
    }
}


</script>




{% endblock %}